:host {
  display: block;
  padding: 20px;
  width: 800px;
  max-height: 90vh; /* Ajusta la altura máxima según tus necesidades */
  border-radius: 30px;
  overflow: auto;
}
.custom-hr {
  border-top: 2px solid lightgray;
  margin-top: 2rem; /* Ajusta este valor según tus necesidades */
}
.btn-custom {
  background-color: #f2f2f2; /* Gris muy claro */
  border: 1px solid violet; /* Bordes violetas */
  color: rgb(114, 23, 114); /* Color del texto violeta */
}

